body,.swiper-container{
	width: 100%;
	overflow-x: hidden;
}

.stroll_banner {
	height: 4.69333333rem;
}
.stroll_banner_img{
	height: 4.69333333rem;
	width: 100%;
}
.stroll_product_list {
	padding: 0.4rem 0.50666667rem 0.4rem 0.26666667rem;
	height: 2.42666667rem;
	border-bottom: 1px solid #EFEFEF;
}

.stroll_product_pic {
	display: inline-block;
	width: 2.42666667rem;
	height: 2.42666667rem;
	float: left;
}

.stroll_product_introduce {
	display: inline-block;
	margin-left: 0.32rem;
	height: 2.42666667rem;
	width: 6.34666667rem;
	position: absolute;
}

.stroll_product_name {
	font-size: 0.45333333rem;
	margin-top: 0.3rem;
}

.stroll_product_introduce_p {
	font-size: 0.34666667rem;
	margin-top: 0.21333333rem;
}

.stroll_product_note_pic {
	display: inline-flex;
	float: left;
	width: 0.4rem;
	height: 0.4rem;
}

.stroll_product_note_num {
	font-size: 0.29333333rem;
	display: block;
	padding-left: 0.61333333rem;
	width: 2.46666667rem;
}

.stroll_product_buy_btn {
	font-size: 0.32rem;
	border: 1px solid #4395F7;
	color: #4395F7;
	border-radius: 3px;
	padding: 0.13333333rem 0.29333333rem;
	position: absolute;
	top: 1.54rem;
	right: 0;
}
.stroll_customer_note{
	position: absolute;
	left: 0;
	bottom: 0.3rem;
}
